extends header

block content
  table
    tr
      th Bank
      th Address
      th Currency
      th Purchase rate
      th Sale rate
      th Time
    each atm in listOfValues
      tr
        td #{atm.bank}
        td #{atm.address}
        td #{atm.er.values_list}
        td #{atm.er.values_list}
        td #{atm.er.values_list}
        td #{atm.currencies_rate_time_formatted}
      tr
        td Josephin Tan
        td $150
        td $10
        td Annie
      tr
        td Joyce Ming
        td $200
        td $35
        td Andy
      tr
        td James A. Pentel
        td $175
        td $25
        td Annie
