extends header

block content
  table
    tr
      th Bank
      th Address
      th Currency
      th Purchase rate
      th Sale rate
      th Time
    each atm in listOfValues
      tr
        td #{atm.bank}
        td #{atm.atm_info.address}
        td #{atm.exchange_rates.currency_name}
        td #{atm.exchange_rates.purchase_value}
        td #{atm.exchange_rates.sale_value}
        td #{atm.exchange_rates.date}
